@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
色に関して記述しているファイル

例：
color: $color-font-white;
 */
/*
ブレイクポイントに関して記述しているファイル
 */
.login-page {
  padding-top: 100px;
  padding-bottom: 273px;
}

.login-page > .section-content {
  padding: 0 16px;
}

.login-page > .section-content > .container {
  border: 3px solid #ff66cc;
  border-radius: 5px;
  background-color: #ffffff;
  max-width: 700px;
  margin: 0 auto;
  padding: 14px 14px 35px;
}

.login-page > .section-content > .container > .title {
  border-bottom: 3px solid #ff66cc;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 19px;
  padding-bottom: 11px;
  margin-bottom: 41px;
}

.login-page > .section-content > .container > .form > .input-container {
  border: 1px solid #BFBFBF;
  margin-bottom: 60px;
  padding: 6px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .left > .radio-input:checked + label {
  background-color: blue;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .left > .label {
  font-size: 11px;
  margin-left: 6px;
  padding-top: 3px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .input-area {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 11px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .input-area > .label {
  font-size: 11px;
  min-width: 88px;
  text-align: right;
  margin-right: 8px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .input-area > .input {
  background-color: #ffffff;
  border: 1px solid #BFBFBF;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 22px;
  font-size: 11px;
  padding: 5px 13px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .input-area > .input::-webkit-input-placeholder {
  color: #8C8C8C;
  font-size: 11px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .input-area > .input::-moz-placeholder {
  color: #8C8C8C;
  font-size: 11px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .input-area > .input:-ms-input-placeholder {
  color: #8C8C8C;
  font-size: 11px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .input-area > .input::-ms-input-placeholder {
  color: #8C8C8C;
  font-size: 11px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .input-area > .input::placeholder {
  color: #8C8C8C;
  font-size: 11px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .input-area > .input.email {
  width: 335px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .input-area > .input.password {
  width: 152px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .input-area.password {
  margin-bottom: 8px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .error {
  margin-left: 95px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .error > .text {
  color: #E61717;
  font-size: 11px;
  margin-bottom: 9px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .forget {
  margin-left: 95px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .forget > .link {
  color: #007EFF;
  font-size: 11px;
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login-page > .section-content > .container > .form > .input-container > .form-item > .right > .forget > .link:hover {
  opacity: 0.5;
}

.login-page > .section-content > .container > .form > .input-container > .form-item.login {
  background-color: #E5F2FF;
  padding: 9px 12px 15px 18px;
}

.login-page > .section-content > .container > .form > .input-container > .form-item.signup {
  padding: 19px 12px 7px 18px;
}

.login-page > .section-content > .container > .form > .button {
  text-align: center;
}

.login-page > .section-content > .container > .form > .button > .link {
  background-color: #ff66cc;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 0 #B2B2B2;
  box-shadow: 0 2px 0 #B2B2B2;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #ffffff;
  font-weight: bold;
  padding: 7px 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.login-page > .section-content > .container > .form > .button > .link:hover {
  opacity: 0.5;
}
