@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
色に関して記述しているファイル

例：
color: $color-font-white;
 */
/*
ブレイクポイントに関して記述しているファイル
 */
.myitem-step02-page {
  padding-top: 100px;
  padding-bottom: 78px;
}

@media screen and (max-width: 768px) {
  .myitem-step02-page {
    padding-top: 70px;
  }
}

.myitem-step02-page > .container {
  max-width: 912px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .myitem-step02-page > .container {
    padding: 0 13px;
  }
}

.myitem-step02-page > .container > .sidebar {
  max-width: 192px;
  width: 100%;
  margin-right: 20px;
}

.myitem-step02-page > .container > .sidebar > .container {
  border: 3px solid #ff66cc;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 11px;
}

.myitem-step02-page > .container > .sidebar > .container > .pages > .page {
  border-bottom: 3px solid #ff66cc;
}

.myitem-step02-page > .container > .sidebar > .container > .pages > .page > .link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 7px 5px;
}

.myitem-step02-page > .container > .sidebar > .container > .pages > .page > .link > .icon {
  width: 19px;
  margin-right: 5px;
}

.myitem-step02-page > .container > .sidebar > .container > .pages > .page > .link > .text {
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.1em;
  padding-top: 3px;
}

.myitem-step02-page > .container > .sidebar > .container > .pages > .page > .link:hover {
  opacity: 0.5;
}

.myitem-step02-page > .container > .sidebar > .container > .pages > .page > .link.active {
  background-color: #E5E5E5;
  border-radius: 50px;
}

.myitem-step02-page > .container > .sidebar > .container > .pages > .page:last-child {
  border: 0;
}

.myitem-step02-page > .container > .section-content {
  width: 100%;
}

.myitem-step02-page > .container > .section-content > .container {
  border: 3px solid #ff66cc;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 14px 14px 27px;
}

@media screen and (max-width: 768px) {
  .myitem-step02-page > .container > .section-content > .container {
    padding: 6px 14px 0;
  }
}

.myitem-step02-page > .container > .section-content > .container > .title {
  border-bottom: 3px solid #ff66cc;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 19px;
  padding-bottom: 11px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .myitem-step02-page > .container > .section-content > .container > .title {
    font-size: 13px;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 13px;
  }
}

.myitem-step02-page > .container > .section-content > .container > .form {
  position: relative;
  margin-bottom: 21px;
}

.myitem-step02-page > .container > .section-content > .container > .form > .box-title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .myitem-step02-page > .container > .section-content > .container > .form > .box-title {
    font-size: 10px;
  }
}

.myitem-step02-page > .container > .section-content > .container > .form > .table {
  border: 1px solid #BFBFBF;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 34px;
}

.myitem-step02-page > .container > .section-content > .container > .form > .table > tbody > .cell {
  border-bottom: 1px solid #BFBFBF;
}

.myitem-step02-page > .container > .section-content > .container > .form > .table > tbody > .cell > .label {
  border-right: 1px solid #BFBFBF;
  font-weight: 400;
  font-size: 11px;
  text-align: left;
  padding: 13px 12px 12px;
}

@media screen and (max-width: 768px) {
  .myitem-step02-page > .container > .section-content > .container > .form > .table > tbody > .cell > .label {
    width: 65px;
    font-size: 10px;
  }
}

.myitem-step02-page > .container > .section-content > .container > .form > .table > tbody > .cell > .data > .input {
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 11px;
  padding: 5px 10px;
}

@media screen and (max-width: 768px) {
  .myitem-step02-page > .container > .section-content > .container > .form > .table > tbody > .cell > .data > .input {
    font-size: 10px;
  }
}

.myitem-step02-page > .container > .section-content > .container > .form > .buttons {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .myitem-step02-page > .container > .section-content > .container > .form > .buttons {
    display: block;
  }
}

.myitem-step02-page > .container > .section-content > .container > .form > .buttons > .button {
  background-color: transparent;
  border: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .myitem-step02-page > .container > .section-content > .container > .form > .buttons > .button {
    display: block;
    margin: 0 auto;
  }
}

.myitem-step02-page > .container > .section-content > .container > .form > .buttons > .button.back {
  margin: 20px;
}

@media screen and (max-width: 768px) {
  .myitem-step02-page > .container > .section-content > .container > .form > .buttons > .button.back {
    margin: 0 auto;
    margin-top: 25px;
  }
}

.myitem-step02-page > .container > .section-content > .container > .form > .buttons > .button.back > .link {
  background-color: #666666;
  border-radius: 3px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 14px 6px;
}

.myitem-step02-page > .container > .section-content > .container > .form > .buttons > .button:hover {
  opacity: 0.5;
}
