@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
色に関して記述しているファイル

例：
color: $color-font-white;
 */
/*
ブレイクポイントに関して記述しているファイル
 */
/*
変数関係をまとめたファイル
 */
/*
色に関して記述しているファイル

例：
color: $color-font-white;
 */
/*
ブレイクポイントに関して記述しているファイル
 */
.mypage-index-page {
  padding-top: 100px;
  padding-bottom: 78px;
}

@media screen and (max-width: 768px) {
  .mypage-index-page {
    padding-top: 70px;
    padding-bottom: 48px;
  }
}

.mypage-index-page > .container {
  max-width: 912px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container {
    max-width: 700px;
    display: block;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .title {
    background-color: #ff66cc;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 10px 0 8px;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #E5E5E5;
    padding: 8px 12px 7px;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .account > .name {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .account > .name > .strong {
    font-size: 13px;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .account > .status {
    background-color: #ffffff;
    border: 1px solid #DEDEDE;
    border-radius: 100px;
    -webkit-box-shadow: 3px 3px 4px #B3B3B3 inset;
    box-shadow: 3px 3px 4px #B3B3B3 inset;
    max-width: 80px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 130%;
    padding: 6px;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .account > .data {
    color: #4D4D4D;
    font-size: 12px;
    font-weight: bold;
  }
}

.mypage-index-page > .container > .account > .data > .number {
  color: #000000;
  margin-left: 15px;
}

.mypage-index-page > .container > .sidebar {
  max-width: 192px;
  width: 100%;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar {
    max-width: 100%;
  }
}

.mypage-index-page > .container > .sidebar > .container {
  border: 3px solid #ff66cc;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 11px;
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container {
    border: 0;
    border-radius: 0;
    padding: 0;
  }
}

.mypage-index-page > .container > .sidebar > .container > .pages > .page {
  border-bottom: 3px solid #ff66cc;
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container > .pages > .page {
    position: relative;
  }
}

.mypage-index-page > .container > .sidebar > .container > .pages > .page > .link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 7px 5px;
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container > .pages > .page > .link {
    position: relative;
    padding: 7px 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.mypage-index-page > .container > .sidebar > .container > .pages > .page > .link > .icon {
  width: 19px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container > .pages > .page > .link > .icon {
    width: 30px;
    margin-right: 6px;
  }
}

.mypage-index-page > .container > .sidebar > .container > .pages > .page > .link > .text {
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.1em;
  padding-top: 3px;
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container > .pages > .page > .link > .text {
    font-size: 15px;
    min-width: 141px;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container > .pages > .page > .link > .data {
    color: #000000;
    font-size: 15px;
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container > .pages > .page > .link > .data > .number {
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container > .pages > .page > .link > .buy-icon {
    width: 30px;
    margin: 0 0 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container > .pages > .page > .link > .link-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 12px;
  }
}

.mypage-index-page > .container > .sidebar > .container > .pages > .page > .link > .link-icon.before-shipping, .mypage-index-page > .container > .sidebar > .container > .pages > .page > .link > .link-icon.myitem {
  right: -99px;
}

.mypage-index-page > .container > .sidebar > .container > .pages > .page > .link:hover {
  opacity: 0.5;
}

@media screen and (max-width: ) {
  .mypage-index-page > .container > .sidebar > .container > .pages > .page > .link:hover {
    background-color: #CCCCCC;
  }
}

.mypage-index-page > .container > .sidebar > .container > .pages > .page > .link.active {
  background-color: #E5E5E5;
  border-radius: 50px;
}

.mypage-index-page > .container > .sidebar > .container > .pages > .page:last-child {
  border: 0;
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container > .pages > .page:last-child {
    border-bottom: 3px solid #ff66cc;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container > .submenu > .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px 10px;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container > .submenu > .container > .logout > .link {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .mypage-index-page > .container > .sidebar > .container > .submenu > .container > .link > .icon {
    width: 40px;
  }
}

.mypage-index-page > .container > .sidebar > .container > .submenu > .container > .link.twitter {
  margin: 0 0 0 auto;
}

.mypage-index-page > .container > .sidebar > .container > .submenu > .container > .link.facebook {
  margin-left: 23px;
}

.mypage-index-page > .container > .section-content {
  width: 100%;
}

.mypage-index-page > .container > .section-content > .container {
  border: 3px solid #ff66cc;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 14px 14px 38px;
}

.mypage-index-page > .container > .section-content > .container > .form {
  position: relative;
}

.mypage-index-page > .container > .section-content > .container > .form > .title {
  border-bottom: 3px solid #ff66cc;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 19px;
  padding-bottom: 11px;
  margin-bottom: 20px;
}

.mypage-index-page > .container > .section-content > .container > .form > .button-basechange {
  position: absolute;
  top: -5px;
  right: 0;
  background-color: #35D3CF;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 0 #B2B2B2;
  box-shadow: 0 2px 0 #B2B2B2;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  padding: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mypage-index-page > .container > .section-content > .container > .form > .table {
  border: 1px solid #BFBFBF;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 52px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell {
  border-bottom: 1px solid #BFBFBF;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell > .label {
  border-right: 1px solid #BFBFBF;
  width: 165px;
  font-weight: 400;
  font-size: 11px;
  text-align: left;
  padding: 13px 12px 12px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell > .data {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 11px;
  padding: 8px 12px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell > .data > .input,
.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell > .data > .select {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 231px;
  font-size: 11px;
  padding: 5px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell > .data > .radio-text-magazine {
  display: none;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell > .data > .radio-text-magazine.no {
  display: block;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell > .data > .radio-text-gender {
  display: none;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell > .data > .radio-text-gender.man {
  display: block;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell > .data > .button {
  background-color: #35D3CF;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 0 #B2B2B2;
  box-shadow: 0 2px 0 #B2B2B2;
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  padding: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell > .data > .button:hover {
  opacity: 0.5;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell > .data > .button.delete {
  background-color: #707070;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .label.address {
  width: 224px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .label.name {
  width: 152px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .label.tel {
  width: 148px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .label.gender {
  width: 50px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .label.button {
  width: 75px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .data {
  border-right: 1px solid #BFBFBF;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .data.address {
  width: 224px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .data.address > .input {
  width: 100%;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .data.name {
  width: 152px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .data.name > .input {
  width: 100%;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .data.tel {
  width: 148px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .data.tel > .input {
  width: 100%;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .data.gender {
  width: 50px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .data.button {
  width: 75px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .data.button > .button {
  width: 100%;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .data > .input {
  padding: 5px 3px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.add-address > .data > .input.zip {
  width: 70px;
}

.mypage-index-page > .container > .section-content > .container > .form > .table > tbody > .cell.input-area > .data > .input {
  border: 1px solid #BFBFBF;
}
