@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
色に関して記述しているファイル

例：
color: $color-font-white;
 */
/*
ブレイクポイントに関して記述しているファイル
 */
.pw-reissue-pre02-page {
  padding-top: 100px;
  padding-bottom: 273px;
}

.pw-reissue-pre02-page > .section-content {
  padding: 0 16px;
}

.pw-reissue-pre02-page > .section-content > .container {
  border: 3px solid #ff66cc;
  border-radius: 5px;
  background-color: #ffffff;
  max-width: 700px;
  margin: 0 auto;
  padding: 14px 14px 33px;
}

.pw-reissue-pre02-page > .section-content > .container > .title {
  border-bottom: 3px solid #ff66cc;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 19px;
  padding-bottom: 11px;
  margin-bottom: 41px;
}

.pw-reissue-pre02-page > .section-content > .container > .text {
  font-size: 13px;
  text-align: center;
  margin-bottom: 35px;
}

.pw-reissue-pre02-page > .section-content > .container > .button {
  max-width: 197px;
  width: 100%;
  margin: 0 auto;
}

.pw-reissue-pre02-page > .section-content > .container > .button > .link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.pw-reissue-pre02-page > .section-content > .container > .button > .link > .img {
  width: 100%;
}

.pw-reissue-pre02-page > .section-content > .container > .button > .link:hover {
  opacity: 0.5;
}
