@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
色に関して記述しているファイル

例：
color: $color-font-white;
 */
/*
ブレイクポイントに関して記述しているファイル
 */
@media screen and (max-width: 768px) {
  .header,
  .footer {
    display: none;
  }
}

.signup-page {
  padding-top: 100px;
  padding-bottom: 473px;
}

@media screen and (max-width: 768px) {
  .signup-page {
    padding-top: 0;
    padding-bottom: 73px;
  }
}

.signup-page > .section-content {
  padding: 0 16px;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content {
    padding: 0;
  }
}

.signup-page > .section-content > .container {
  border: 3px solid #ff66cc;
  border-radius: 5px;
  background-color: #ffffff;
  max-width: 700px;
  margin: 0 auto;
  padding: 14px 14px 35px;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container {
    border: 0;
    padding: 0;
  }
}

.signup-page > .section-content > .container > .title {
  border-bottom: 3px solid #ff66cc;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 19px;
  padding-bottom: 11px;
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .title {
    position: relative;
    background-color: #ff66cc;
    padding: 10px 0 8px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .title > .link {
    display: block;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .title > .link > .icon {
    position: absolute;
    top: 50%;
    left: 22px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 9px;
  }
}

.signup-page > .section-content > .container > .form > .input-container {
  border: 1px solid #BFBFBF;
  max-width: 508px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 18px 28px 35px;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .form > .input-container {
    border: none;
    padding: 20px;
  }
}

.signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area {
    display: block;
    margin-bottom: 0;
  }
}

.signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area:last-child {
  margin-bottom: 25px;
}

.signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .label {
  min-width: 96px;
  font-size: 11px;
  margin-right: 16px;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .label {
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input {
  border: 1px solid #BFBFBF;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 11px;
  padding: 5px 8px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input {
    border-radius: 5px;
    padding: 15px 14px 14px;
  }
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input::-webkit-input-placeholder {
    font-size: 15px;
  }
  .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input::-moz-placeholder {
    font-size: 15px;
  }
  .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input:-ms-input-placeholder {
    font-size: 15px;
  }
  .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input::-ms-input-placeholder {
    font-size: 15px;
  }
  .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input::placeholder {
    font-size: 15px;
  }
}

.signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input.name {
  width: 260px;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input.name {
    width: 100%;
  }
}

.signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input.password, .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input.password-confirm {
  width: 131px;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input.password, .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input.password-confirm {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .input.password {
    margin-bottom: 16px;
  }
}

.signup-page > .section-content > .container > .form > .input-container > .input-list > .input-area > .notice {
  font-size: 11px;
}

.signup-page > .section-content > .container > .form > .input-container > .input-list > .error {
  margin-left: 111px;
  margin-bottom: 9px;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .form > .input-container > .input-list > .error {
    margin-left: 0;
  }
}

.signup-page > .section-content > .container > .form > .input-container > .input-list > .error > .text {
  color: #E61717;
  font-size: 11px;
}

.signup-page > .section-content > .container > .form > .input-container > .privacy-check {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .form > .input-container > .privacy-check {
    display: none;
  }
}

.signup-page > .section-content > .container > .form > .input-container > .privacy-check > .checkbox {
  margin-right: 15px;
}

.signup-page > .section-content > .container > .form > .input-container > .privacy-check > .text {
  font-size: 11px;
  font-weight: bold;
}

.signup-page > .section-content > .container > .form > .input-container > .privacy-check > .text > .link {
  color: #2284E5;
}

.signup-page > .section-content > .container > .form > .button {
  display: block;
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .form > .button {
    margin-top: 200px;
  }
}

.signup-page > .section-content > .container > .form > .button > .link {
  background-color: #35D3CF;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 0 #B2B2B2;
  box-shadow: 0 2px 0 #B2B2B2;
  color: #ffffff;
  font-weight: bold;
  padding: 9px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .signup-page > .section-content > .container > .form > .button > .link {
    background-color: #2284E5;
    border: 3px solid #000000;
    border-radius: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    padding: 10px 75px;
  }
}

.signup-page > .section-content > .container > .form > .button > .link:hover {
  opacity: 0.5;
}
