@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
色に関して記述しているファイル

例：
color: $color-font-white;
 */
/*
ブレイクポイントに関して記述しているファイル
 */
@media screen and (max-width: 768px) {
  .header,
  .footer {
    display: none;
  }
}

.signup-thanks-page {
  padding-top: 100px;
  padding-bottom: 433px;
}

@media screen and (max-width: 768px) {
  .signup-thanks-page {
    padding-top: 0;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 768px) {
  .signup-thanks-page > .section-content {
    padding: 0;
  }
}

.signup-thanks-page > .section-content > .container {
  border: 3px solid #ff66cc;
  border-radius: 5px;
  background-color: #ffffff;
  max-width: 700px;
  margin: 0 auto;
  padding: 14px 15px 32px;
}

@media screen and (max-width: 768px) {
  .signup-thanks-page > .section-content > .container {
    border: 0;
    padding: 0;
  }
}

.signup-thanks-page > .section-content > .container > .title {
  border-bottom: 3px solid #ff66cc;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 19px;
  padding-bottom: 11px;
  margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
  .signup-thanks-page > .section-content > .container > .title {
    position: relative;
    background-color: #ff66cc;
    padding: 10px 0 8px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .signup-thanks-page > .section-content > .container > .title > .link {
    display: block;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .signup-thanks-page > .section-content > .container > .title > .link > .icon {
    position: absolute;
    top: 50%;
    left: 22px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 9px;
  }
}

.signup-thanks-page > .section-content > .container > .text {
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .signup-thanks-page > .section-content > .container > .text {
    padding: 0 20px;
    margin-bottom: 65px;
  }
}

@media screen and (max-width: 768px) {
  .signup-thanks-page > .section-content > .container > .img {
    display: block;
    max-width: 130px;
    margin: 0 auto;
    margin-bottom: 140px;
  }
}

.signup-thanks-page > .section-content > .container > .buttons {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .signup-thanks-page > .section-content > .container > .buttons {
    display: block;
  }
}

.signup-thanks-page > .section-content > .container > .buttons > .button > .link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .signup-thanks-page > .section-content > .container > .buttons > .button > .link {
    display: block;
    background-color: #ff66cc;
    border: 3px solid #000000;
    border-radius: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 196px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
    margin: 0 auto;
  }
}

.signup-thanks-page > .section-content > .container > .buttons > .button > .link > .img {
  width: 100%;
}

.signup-thanks-page > .section-content > .container > .buttons > .button.top {
  max-width: 197px;
  margin-right: 22px;
}

.signup-thanks-page > .section-content > .container > .buttons > .button.mypage {
  max-width: 148px;
}
