@charset "UTF-8";
/*
変数関係をまとめたファイル
 */
/*
色に関して記述しているファイル

例：
color: $color-font-white;
 */
/*
ブレイクポイントに関して記述しているファイル
 */
.withdrawal-page {
  padding-top: 100px;
  padding-bottom: 78px;
}

.withdrawal-page > .container {
  max-width: 912px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.withdrawal-page > .container > .sidebar {
  max-width: 192px;
  width: 100%;
  margin-right: 20px;
}

.withdrawal-page > .container > .sidebar > .container {
  border: 3px solid #ff66cc;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 11px;
}

.withdrawal-page > .container > .sidebar > .container > .pages > .page {
  border-bottom: 3px solid #ff66cc;
}

.withdrawal-page > .container > .sidebar > .container > .pages > .page > .link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 7px 5px;
}

.withdrawal-page > .container > .sidebar > .container > .pages > .page > .link > .icon {
  width: 19px;
  margin-right: 5px;
}

.withdrawal-page > .container > .sidebar > .container > .pages > .page > .link > .text {
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.1em;
  padding-top: 3px;
}

.withdrawal-page > .container > .sidebar > .container > .pages > .page > .link:hover {
  opacity: 0.5;
}

.withdrawal-page > .container > .sidebar > .container > .pages > .page > .link.active {
  background-color: #E5E5E5;
  border-radius: 50px;
}

.withdrawal-page > .container > .sidebar > .container > .pages > .page:last-child {
  border: 0;
}

.withdrawal-page > .container > .section-content {
  width: 100%;
}

.withdrawal-page > .container > .section-content > .container {
  border: 3px solid #ff66cc;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 14px 14px 19px;
}

.withdrawal-page > .container > .section-content > .container > .title {
  border-bottom: 3px solid #ff66cc;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 19px;
  padding-bottom: 11px;
  margin-bottom: 20px;
}

.withdrawal-page > .container > .section-content > .container > .text {
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 24px;
}

.withdrawal-page > .container > .section-content > .container > .button {
  max-width: 190px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.withdrawal-page > .container > .section-content > .container > .button > .link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.withdrawal-page > .container > .section-content > .container > .button > .link > .img {
  width: 100%;
}

.withdrawal-page > .container > .section-content > .container > .button > .link:hover {
  opacity: 0.5;
}

.withdrawal-page > .container > .section-content > .container > .notice {
  color: #E61717;
  font-size: 13px;
  text-align: center;
}
