@charset "UTF-8";
/*
全てのページに影響するCSSに関して記述しているファイル
*/
/*
変数関係をまとめたファイル
 */
/*
色に関して記述しているファイル

例：
color: $color-font-white;
 */
/*
ブレイクポイントに関して記述しているファイル
 */
body {
  font-family: Arial,'游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Meiryo',sans-serif;
  font-weight: 400;
}

main {
  background-image: url(../../assets/img/back.png);
}

.svgs {
  display: none;
}

@media screen and (max-width: 1024px) {
  .is-pc {
    display: none;
  }
}

.is-sp {
  display: none;
}

@media screen and (max-width: 1024px) {
  .is-sp {
    display: block;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
HeaderのSCSSに関して記述しているファイル
 */
/*
* /parts/_parts_header.pugのCSSに関して記述しているファイル
*/
.svgs {
  display: none;
}

.header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.header > .top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ff66cc;
  width: 100%;
  height: 5px;
  margin: 0 auto;
}

.header > .container {
  margin: 0 auto;
}

.header > .container > .nav {
  background-color: #000000;
  padding: 10px 16px 3px 182px;
}

.header > .container > .nav > .pages {
  max-width: 1002px;
  margin: 0 auto;
}

.header > .container > .nav > .pages > .page {
  margin-right: 32px;
}

.header > .container > .nav > .pages > .page > .link {
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header > .container > .nav > .pages > .page > .link:hover {
  opacity: 0.5;
}

.header > .container > .nav > .pages > .page > .link.twitter > .icon, .header > .container > .nav > .pages > .page > .link.facebook > .icon {
  width: 22px;
  height: 22px;
  margin-top: 2px;
}

.header > .container > .nav > .pages > .page.twitter {
  margin-right: 36px;
}

.header > .container > .main-menu {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1224px;
  padding: 4px 40px 3px;
  margin: 0 auto;
}

.header > .container > .main-menu > .left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin-right: 24px;
}

.header > .container > .main-menu > .left > .logo {
  width: 154px;
  height: 43px;
  margin-right: 21px;
}

.header > .container > .main-menu > .left > .account {
  margin-right: 10px;
}

.header > .container > .main-menu > .left > .account > .welcome {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.header > .container > .main-menu > .left > .account > .welcome > .name {
  padding: 0 3px;
  display: inline-block;
}

.header > .container > .main-menu > .left > .account > .data {
  font-size: 11px;
  font-weight: bold;
}

.header > .container > .main-menu > .left > .account > .data > .number {
  color: #E61717;
  font-size: 19px;
  padding: 0 3px 0 7px;
  line-height: 21px;
}

.header > .container > .main-menu > .left > .status {
  border: 1px solid #DEDEDE;
  border-radius: 100px;
  -webkit-box-shadow: 3px 3px 4px #B3B3B3 inset;
  box-shadow: 3px 3px 4px #B3B3B3 inset;
  min-width: 80px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 3px 12px 3px;
}

.header > .container > .main-menu > .left > .status.pro {
  color: #E61717;
}

.header > .container > .main-menu > .left > .status.beginner {
  color: #29B43D;
}

.header > .container > .main-menu > .right > .buttons {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 14px;
}

.header > .container > .main-menu > .right > .buttons > .button {
  margin-right: 15px;
}

.header > .container > .main-menu > .right > .buttons > .button > .link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header > .container > .main-menu > .right > .buttons > .button > .link > .number {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.02em;
  width: 100%;
}

.header > .container > .main-menu > .right > .buttons > .button > .link > .number.cart {
  color: #e24444;
  border-bottom: 1px solid #e24444;
}

.header > .container > .main-menu > .right > .buttons > .button > .link > .number.point {
  color: #ff8c19;
  border-bottom: 1px solid #ff8c19;
}

.header > .container > .main-menu > .right > .buttons > .button > .link > .number.ticket {
  color: #2e67e5;
  border-bottom: 1px solid #2e67e5;
}

.header > .container > .main-menu > .right > .buttons > .button > .link > .button {
  width: 144px;
}

.header > .container > .main-menu > .right > .buttons > .button > .link > .icon {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header > .container > .main-menu > .right > .buttons > .button > .link > .icon.cart {
  width: 35px;
}

.header > .container > .main-menu > .right > .buttons > .button > .link > .icon.point {
  width: 33px;
  margin-right: 7px;
}

.header > .container > .main-menu > .right > .buttons > .button > .link > .icon.ticket {
  width: 41px;
  margin-right: 6px;
}

.header > .container > .main-menu > .right > .buttons > .button > .link:hover {
  opacity: 0.5;
}

.header > .container > .main-menu > .right > .buttons > .button > .link:hover > .icon {
  opacity: 0.5;
}

.header > .container > .main-menu > .right > .members-button {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header > .container > .main-menu > .right > .members-button > .button {
  -ms-flex-item-align: center;
  align-self: center;
  min-width: 49px;
  margin-right: 14px;
}

.header > .container > .main-menu > .right > .members-button > .button > .link {
  color: #000000;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header > .container > .main-menu > .right > .members-button > .button > .link > .img {
  width: 27px;
  display: block;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header > .container > .main-menu > .right > .members-button > .button > .link:hover {
  opacity: 0.5;
}

.header > .container > .main-menu > .right > .members-button > .button > .link:hover > .img {
  opacity: 0.5;
}

.header > .sp-menu {
  background-color: #ffffff;
  padding: 16px 20px 6px;
}

.header > .sp-menu > .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header > .sp-menu > .container > .left {
  max-width: 130px;
  width: 100%;
  margin-left: 6px;
}

.header > .sp-menu > .container > .left > .logo {
  width: 100%;
}

.header > .sp-menu > .container > .right > .account > .welcome {
  font-size: 9px;
}

.header > .sp-menu > .container > .right > .account > .welcome > .name {
  font-size: 10px;
  font-weight: bold;
}

.header > .sp-menu > .container > .right > .account > .point {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #E5E5E5;
  border-radius: 50px;
  padding: 5px 35px 5px 4px;
}

.header > .sp-menu > .container > .right > .account > .point > .icon {
  width: 16px;
  margin-right: 2px;
}

.header > .sp-menu > .container > .right > .account > .point > .amount {
  color: #FF8C19;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 15px;
  font-weight: bold;
}

.header > .sp-menu > .container > .right > .account > .point > .link {
  display: block;
  position: absolute;
  right: -5px;
}

.header > .sp-menu > .container > .right > .account > .point > .link > .icon {
  width: 33px;
}

.header > .sp-menu > .container > .right > .myitem {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header > .sp-menu > .container > .right > .myitem > .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header > .sp-menu > .container > .right > .myitem > .item > .icon {
  width: 12px;
  margin-right: 4px;
}

.header > .sp-menu > .container > .right > .myitem > .item > .text {
  font-size: 10px;
  font-weight: bold;
}

.header > .sp-menu > .container > .right > .myitem > .item > .text > .number {
  display: inline-block;
  padding-left: 10px;
}

.header > .sp-menu > .container > .right > .myitem > .item > .text.cart {
  color: #E64545;
}

.header > .sp-menu > .container > .right > .myitem > .item > .text.ticket {
  color: #2C65E5;
}

.header > .sp-menu > .container > .right > .myitem > .item:first-child {
  margin-right: 15px;
}

.footer > .container {
  margin: 0 auto;
  padding: 23px 16px 15px;
}

.footer > .container > .flex {
  max-width: 1171px;
  margin: 0 auto;
}

.footer > .container > .flex > .left {
  max-width: 568px;
  width: 100%;
  border-right: 2px dashed #666666;
  margin-right: 22px;
}

.footer > .container > .flex > .left > .pages > .category > .link {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 16px;
  margin-bottom: 14px;
}

.footer > .container > .flex > .left > .pages > .page > .link {
  color: #666666;
  font-size: 12px;
  letter-spacing: 0.02em;
  line-height: 20px;
  margin-bottom: 8px;
}

.footer > .container > .flex > .left > .pages.news {
  margin-right: 87px;
}

.footer > .container > .flex > .left > .pages.guid {
  margin-right: 80px;
}

.footer > .container > .flex > .right > .logo {
  width: 197px;
  margin-bottom: 8px;
}

.footer > .container > .flex > .right > .text {
  color: #666666;
  font-size: 10px;
  letter-spacing: 0.02em;
  line-height: 16px;
}

.footer > .container > .pages {
  border-top: 2px dashed #666666;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 22px;
  margin-bottom: 14px;
  padding-top: 18px;
}

.footer > .container > .pages > .page {
  margin-right: 38px;
}

.footer > .container > .pages > .page:last-child {
  margin-right: 0;
}

.footer > .container > .pages > .page > .link {
  color: #000000;
  font-size: 12px;
  letter-spacing: 0.02em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer > .container > .pages > .page > .link:hover {
  opacity: 0.5;
}

.footer > .container > .copyright {
  color: #000000;
  font-size: 10px;
  text-align: center;
}
